ul li {
	list-style: none;
}

[v-cloak] {
	display: none;
}


.map-remake {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	display: none;
}

.map-alerts-remake {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
	display: none;
}

.map-list {
	width: 100%;
	height: 11rem;
	/* background: #FFFFFF; */
	position: absolute;
	z-index: 2;
	bottom: 0px;
	display: none;

}

.map-alerts {
	width: 100%;
	height: 11rem;
	/* transition:width 2s, height 2s; */
	background: #FFFFFF;
	position: absolute;
	z-index: 4;
	bottom: 0px;
	display: none;
}

.all-text {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.map-image-li {
	width: 100%;
	height: 4rem;
}

.map-iamages {
	width: 4rem;
	float: right;
	margin-right: 1rem;
}

.map-alerts ul {
	width: 100%;
	padding: 0;
	margin: 0;
}

.map-alerts li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: left;
	font-size: 1rem;
	color: #171616;
	box-sizing: border-box;
	padding: 0 30px;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #f4f4f4;
}

@keyframes action_skew {
	0% {
		height: 2rem;
	}

	50% {
		height: 5rem;
	}

	100% {
		height: 11rem;
	}
}


.map-list-images {
	width: 30%;
	background: #FFFFFF;
	float: left;
	height: 7rem;
	box-sizing: border-box;
	padding: 10px;
}

.map-list-right {
	width: 70%;
	height: 7rem;
	float: right;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
}

.map-list-right-p {
	color: #A6A6A6 !important;
}

.fa-map-markerClasz {
	padding: 0px 13px;
	text-align: center;
	margin-top: 3px;
	position: absolute;
	top: -40px;
	left: -28px;
	/* background: rgb(71, 131, 231); */
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
}

/* top 表头 */

.mover-index-top {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 3rem;
	/* background: #000; */
	z-index: 1;
}

.mover-index-top-two {
	width: 100%;
	margin: auto;
	height: 100%;
	/* overflow: auto; */
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.mover-index-top-two ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.mover-index-left {
	padding: 1rem;
	line-height: 3;
	color: #000;
	background: #FFFFFF;
}

.mover-index-top-two ul li {
	width: 20%;
	height: 100%;
	float: left;
	line-height: 3;
	text-align: center;
	background: #FFFFFF;
}

/* .mover-index-top-two ul li:first-child {
	border-right: 2px solid #F4F4F4;
} */

.mover-index-on {
	background: #538ff3 !important;
	color: #FFFFFF !important;
}
